@keyframes rise {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(-120px); opacity: 0; }
}

.keyboard-scroll-container {
    overflow-x: auto;
}

.midi-visualizer-container {
    position: relative;
    height: 150px;
    width: var(--keyboard-width);
    overflow: hidden;
}

.midi-sparkle {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--glow-target);
    box-shadow: 0px 0px 3px 2px var(--glow-target);
    animation: rise 900ms ease-out forwards;
}

.key {
    position: absolute;
}

.key.white {
    position: absolute;
    width: 40px;
    height: 100px;
    background-color: white;
    border: 2px solid black;
}

.key.black {
    position: absolute;
    width: 20px;
    height: 60px;
    background-color: black;
    z-index: 10;
}

.key.correct {
    background-color: #abff6b;
}

.key.incorrect {
    background-color: #ff4043;
}

.key.target {
    background-color: #426cf5;
}

.keyboard {
    position: relative;
    height: var(--keyboard-height);
    width: var(--keyboard-width);
}